In [ ]:
pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.14.5-py3-none-any.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.3/149.3 KB 3.4 MB/s eta 0:00:00
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.8.0-py3-none-any.whl (8.7 kB)
Requirement already satisfied: multimethod in /usr/local/lib/python3.9/dist-packages (from pandera) (1.9.1)
Requirement already satisfied: pydantic in /usr/local/lib/python3.9/dist-packages (from pandera) (1.10.7)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.9/dist-packages (from pandera) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from pandera) (23.0)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from pandera) (1.4.4)
Requirement already satisfied: wrapt in /usr/local/lib/python3.9/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pandera) (2022.7.1)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.9/dist-packages (from typing-inspect>=0.6.0->pandera) (4.5.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pandera) (1.16.0)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-1.0.0 pandera-0.14.5 typing-inspect-0.8.0

In [ ]:
import pandas as pd
import os
import numpy as np

import pandera as pa

In [ ]:
path = '/content/dados_atendimento - atendimentos (1).csv'

In [ ]:
df = pd.read_csv(path,sep=',')

In [ ]:
df

,Data,Atendente,Área,Respondido - Resolvido (S/N),Velocidade de Resposta,Duracao com atendente em Segundos,Índice de Satisfacao
Call Id,,,,,,,
ID0001,2020-03-24,João D.,Vendas,Sim - S,109,143,2
ID0002,2020-03-19,Marcelo F.,Reclamação,Sim - N,70,242,3
ID0003,2020-03-20,Leandro C.,Vendas,Sim - S,10,131,3
ID0004,2020-03-11,Leandro C.,Vendas,Sim - S,53,37,2
ID0007,2020-03-03,Marina Z.,Cancelametos,Sim - S,24,220,2
...,...,...,...,...,...,...,...
ID1764,2020-03-08,Ana S.,Vendas,Sim - S,92,360,4
ID1765,2020-03-07,Ana S.,Vendas,Sim - S,95,300,3
ID1766,2020-03-22,Gustavo M.,Vendas,Sim - S,49,118,5
ID1770,2020-03-06,Ana S.,Cancelametos,Sim - S,78,62,4
ID1772,2020-03-28,Leandro C.,Reclamação,Sim - S,121,361,2

In [ ]:
df.isna().sum()

Call Id                              0
Data                                 0
Atendente                            0
Área                                 0
Respondido - Resolvido (S/N)         0
Velocidade de Resposta               0
Duracao Chamada                      0
Duracao com atendente em Segundos    0
Índice de Satisfacao                 0
dtype: int64

In [ ]:
pd.unique(df['Área'])

array(['Vendas', 'RECLAMAÇÕES', 'Cancelametos', 'Trocas'], dtype=object)

In [ ]:
df.loc[df.Área == 'RECLAMAÇÕES',['Área']] = 'Reclamação'

In [ ]:
df.set_index('Call Id',inplace=True)

In [ ]:
df.count()

Data                                 1009
Atendente                            1009
Área                                 1009
Respondido - Resolvido (S/N)         1009
Velocidade de Resposta               1009
Duracao Chamada                      1009
Duracao com atendente em Segundos    1009
Índice de Satisfacao                 1009
dtype: int64

In [ ]:
df.dtypes

Data                                  int64
Atendente                            object
Área                                 object
Respondido - Resolvido (S/N)         object
Velocidade de Resposta                int64
Duracao com atendente em Segundos     int64
Índice de Satisfacao                  int64
dtype: object

In [ ]:
df.drop(["Duracao Chamada"],axis=1,inplace=True)

In [ ]:
df['Atendente'] = df['Atendente'].astype(str)

In [ ]:
df['Área'] = df['Área'].astype(str)

In [ ]:
df['Respondido - Resolvido (S/N)'] = df['Respondido - Resolvido (S/N)'].astype(str)

In [ ]:
pd.unique(df['Índice de Satisfacao'])

array([2, 3, 1, 5, 4])

In [ ]:
pd.set_option('display.max_columns',100)

In [ ]:
from datetime import datetime, timedelta

# Definindo a data base como 01/01/1900
base_date = datetime(1900, 1, 1)

# Convertendo a coluna de dias para uma lista de datas
days = [base_date + timedelta(days=int(d)) for d in df['Data']]

# Substituindo a coluna original no dataframe pela nova coluna de datas
df['Data'] = days

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1009 entries, ID0001 to ID1772
Data columns (total 7 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Data                               1009 non-null   datetime64[ns]
 1   Atendente                          1009 non-null   object
 2   Área                               1009 non-null   object
 3   Respondido - Resolvido (S/N)       1009 non-null   object
 4   Velocidade de Resposta             1009 non-null   int64
 5   Duracao com atendente em Segundos  1009 non-null   int64
 6   Índice de Satisfacao               1009 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 95.4+ KB

In [ ]:
df.isna().sum()

Data                                 0
Atendente                            0
Área                                 0
Respondido - Resolvido (S/N)         0
Velocidade de Resposta               0
Duracao com atendente em Segundos    0
Índice de Satisfacao                 0
dtype: int64

In [ ]:
df.count()

Data                                 1009
Atendente                            1009
Área                                 1009
Respondido - Resolvido (S/N)         1009
Velocidade de Resposta               1009
Duracao com atendente em Segundos    1009
Índice de Satisfacao                 1009
dtype: int64

In [ ]:
df.head(5)

,Data,Atendente,Área,Respondido - Resolvido (S/N),Velocidade de Resposta,Duracao com atendente em Segundos,Índice de Satisfacao
Call Id,,,,,,,
ID0001,2020-03-24,João D.,Vendas,Sim - S,109,143,2
ID0002,2020-03-19,Marcelo F.,Reclamação,Sim - N,70,242,3
ID0003,2020-03-20,Leandro C.,Vendas,Sim - S,10,131,3
ID0004,2020-03-11,Leandro C.,Vendas,Sim - S,53,37,2
ID0007,2020-03-03,Marina Z.,Cancelametos,Sim - S,24,220,2

In [ ]:
df.to_csv('dados-atendimento.csv',index=False)

In [ ]:
os.getcwd()

'/content'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.loc